---
name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build ${{ github.repository }} with Idris2 latest
    runs-on: ubuntu-latest
    env:
      PACK_DIR: /root/.pack
    strategy:
      fail-fast: false
    container: ghcr.io/stefan-hoeck/idris2-pack:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build js
        run: pack install js
      - name: Build dom
        run: pack install dom
      - name: Build docs
        run: pack build docs/docs.ipkg
      - name: Run test
        run: |
          apt-get update && apt-get install --yes nodejs
          pack test js -n 1000
